$sm: 30em;
$md: 48em;
$lg: 64em;
$pad: 10px;

// COLORS
$gray-highlight: #eeeeee;
$primary-text-dark: #3e3e3e;
$shadow-color: #b4b4b4;
$primary-text-gray: lighten($primary-text-dark, 20%);
$primary-blue: #24408e;
$picks: #c6a3ff;
