@import '../styles/variables';

.documents__main {
    padding: $pad * 4 $pad * 2;
    .documents__header {
        font-weight: 400;
    }

    .documents__section {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}