@import '../styles/variables';

.Document {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $pad * 2;
    margin-right: $pad * 2;

    .document__img {
        margin: 0;
        width: 60%;
        box-shadow: 0px 1px 4px 0px $shadow-color;
        min-width: 100px;
    }

    .document-code__div {
        margin-top: $pad;
        font-size: 0.8em;
    }

    .document-prof__div, .document-sem__div {
        font-size: 0.6em;
        margin-top: -8px;
        font-weight: 400;
        color: $primary-text-gray;
    }  

    .document-sem__div {
        margin-top: -10px;
    }

    @media only screen and (min-width: $md) {
        margin-right: $pad * 3;
        .document__img {
            width: 80%;
            min-width: $md / 6;
        }
    
        .document-code__div {
            font-size: 1em;
        }
    
        .document-prof__div, .document-sem__div {
            font-size: 0.8em;
            margin-top: -4px;
            font-weight: 400;
            color: $primary-text-gray
        }
    }
}

