@import '../styles/variables';

.NotesNav {
    padding: $pad 2*$pad;
    border-bottom: 1px solid $gray-highlight;
    color: $primary-text-dark;
    position: relative;

    .nav-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        margin: 0px 48px;
        font-size: 0.8em;
    }

    .brand-logo {
        filter: drop-shadow(0px 1px 2px $shadow-color);
        position: absolute;
        width: 40px;
        top: 8px;
    }

    .note-search__input {
        margin: 0;
        display: flex;
        align-items: center;
        border: 1px solid $gray-highlight;
        border-radius: 50px;
        width: 50%;
        max-width: 250px;
        padding: 0px $pad;
    }

    .note-search__icon {
        margin: 0;
        width: 16px;
    }

    .note-search__text-input {
        font-size: 1em;
        color: $primary-text-gray;
        outline: none;
        border: 0;
        margin-left: 4px;
        width: 100%;
        padding: 2px;
    }

    @media only screen and (min-width: $md) {
        .brand {
            font-size: 1em;
        }
    }

}